* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: small;
}

.landing-page--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-page--main{
    display: flex;
    flex-direction: column;
}

.landing-page--main-description {
    display: flex;
    flex-direction: column;
}