:root {
  --color-primary: #4f64d9;
  --color-secondary: #242946;
  --black: #232323;
  --grey: #23232323;
  --white: #fff;
  --red: #ff2e2e;
  --color-background: #e8eaf6;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

body{
    margin: 0;
    position:relative;
    overflow-x: hidden;
}

button{
    background-color: transparent;
    border-color: transparent;
}

.landing-page--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.landing-page--nav-menu{
    display: none;
}

.landing-page--nav-opened-menu{
    visibility: hidden;
    background-color: #242946e1;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 999;
}

.landing-page--nav-opened-menu.show{
    visibility: visible;
}

.landing-page--nav-opened-menu .menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
}

.landing-page--nav-opened-menu .menu > *{
    border-bottom: 1px solid #ffffff92;
    padding-bottom: 2rem;
}

.landing-page--nav-opened-menu .menu .menu-head{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 4rem;
}

.landing-page--nav-opened-menu .menu .menu-head .menu-close{
    position: relative;
     width: 3rem;
    height: 3rem;
}

.landing-page--nav-opened-menu .menu .menu-head .menu-close--primary-icon{
    width: 2rem;
    height: 2rem;
    border-right: 3px solid #fff ;
    transform: rotateZ(45deg) translatey(-0.9rem);;
    position: absolute;
}

.landing-page--nav-opened-menu .menu .menu-head .menu-close--secondary-icon{
    width: 2rem;
    height: 2rem;
    border-right: 3px solid #fff ;
    transform: rotateZ(-45deg) translatey(0.9rem);
    position: absolute;
}


.landing-page--nav-opened-menu .menu button{
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 4px;
}

.landing-page--nav-opened-menu .menu .login{
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 5px;
}


.landing-page--container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 2rem;
}

.landing-page--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}

.landing-page--image {
    width: 100%;
    display: inline;
    position: relative;
}

.landing-page--image-img {
    border: 1rem solid var(--black);
    border-radius: 2rem;
    width: 90%;
    position: absolute;
    box-shadow: -10px 30px 25px var(--grey)
}

.landing-page--image-shape {
    background-color: var(--color-primary);
    width: 100%;
    height: 18rem;
    border-radius: 70% 0 0 40%;
    margin: 6rem 0 0 5rem;
}

.image-reverse{
  transform: scaleX(-1);
}

.landing-page--text {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.landing-page--text-title {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 800;
    color: var(--black);
}

h3.landing-page--text-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.landing-page--text-paragraf {
    text-align: center;
    font-size: 1.5rem;
}

.landing-page--buttons {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.landing-page--btn {
    padding: 1.5rem;
    color: var(--white);
    font-weight: 500;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary);
    box-shadow: 3px 8px 10px var(--grey);
    cursor: pointer;
}

.btn-secondary {
    color: var(--black);
    background-color: var(--color-background);
    border-color: transparent;
}

.landing-page--carusel{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.landing-page--carusel-buttons{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grey);
    margin-top: 2rem;
}

.landing-page--carusel-btn{
    border: 0;
    border-bottom: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.landing-page--carusel-btn p{
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.selected-btn{
    width: 40%;
    border-bottom: 2px solid var(--red);
    transform: translateY(2px);
}

.landing-page--selected-feature{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.landing-page--feature-desc .landing-page--buttons{
    display: none;
}

.landing-page--cards{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.landing-page--card{
    height: fit-content;
    box-shadow: 0 10px 15px var(--grey);
}

.landing-page--card-top{
    padding: 2rem;
    border-bottom: 6px dotted var(--grey);
}

.landing-page--card-image{
    margin: 2rem 5rem;
}

.landing-page--card-button {
    display: flex;
    justify-content: center;
}

.landing-page--card-button .landing-page--btn{
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
}

.landing-page--faq-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

.landing-page--faq{
    border-bottom: 1px solid var(--grey);
    margin: 0 1rem;
    padding: 1rem 0;
}

.landing-page--faq-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.landing-page--faq-btn p{
    font-weight: 500;
}

.arrow-down{
    width: 1rem;
    height: 1rem;
    border-right: 3px solid  var(--color-primary);
    border-bottom: 3px solid  var(--color-primary);
    transform: rotateZ(45deg);
    cursor: pointer;
}

.arrow-up{
    width: 1rem;
    height: 1rem;
    border-right: 3px solid  var(--red);
    border-bottom: 3px solid  var(--red);
    transform: rotateZ(-135deg);
}

.landing-page--faq-answer{
    line-height: 2rem;
    font-weight: 400;
    display: none;
    margin: 1rem 0;
}

.landing-page--faq-answer.show{
    display: inline;
}

.landing-page--footer{
    margin-top: 10rem;
    background-color: #4f64d9;
}

.landing-page--footer-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color: var(--white);
}

.landing-page--footer-cta p{
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
}

.landing-page--footer-cta h2{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.landing-page--footer-subscribe{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.landing-page--footer-input{
    position: relative;
}

.landing-page--footer-cta input, .landing-page--footer-cta button{
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 5px;
}

.landing-page--footer-cta input{
    border:2px solid var(--white);
}

.landing-page--footer-cta input:focus-visible{
    outline: 0;
}

.landing-page--footer-cta .error {
  display: none;
  background-color: var(--red);
  color:  var(--white);
  font-size: 0.8rem;
  padding: 2px;
  padding-left: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 3px;
}

.landing-page--footer-cta .icon-error {
  display: none;
  position: absolute;
  right: 1rem;
  top: 20%;
}

.landing-page--footer-cta input:not(:placeholder-shown):invalid{
    border: 3px solid var(--red);
    border-bottom: 20px solid  var(--red);
}

.landing-page--footer-cta input:invalid:not(:placeholder-shown) ~ .error,
.landing-page--footer-cta input:invalid:not(:placeholder-shown) ~ .icon-error {
  display: inline;
}

.btn-tertiary{
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--red);
}

.landing-page--footer-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 2rem;
}

.landing-page--footer-menu button{
    color: var(--white);
    font-size: 1.2rem;
}

.landing-page--footer-social{
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
}

@media (min-width: 768px){
    .landing-page--header{
        margin: 0 8rem;
    }

    .landing-page--nav-icon{
        display: none;
    }

    .landing-page--nav-menu{
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-right: 5rem;
    }

    .landing-page--nav-menu > *{
        font-weight: 400;
        text-decoration: none;
        color: var(--black);
    }

    .landing-page--nav-menu button{
        padding: 1rem 2rem;
        color: var(--white);
    }

    .landing-page--container {
        margin: 0 8rem;
    }

    .landing-page--section:first-child{
        flex-direction: row;
        gap: 5rem
    }

    .landing-page--section:first-child .landing-page--image{
        order: 2;
    }

    .landing-page--text{
        margin: 0;
    }

    .landing-page--text > *{
        text-align: start;
    }

    .landing-page--text-title{
        font-size: 3rem;
    }

    .landing-page--buttons{
        justify-content: start;
    }

    .landing-page--btn:hover{
        background-color: var(--white);
        color: var(--color-primary);
    }

    .btn-secondary:hover{
        border-color: var(--black);
        color: var(--black);
    }

    .btn-tertiary:hover{
        background-color:var(--white);
        color: var(--red);
    }
    
    .landing-page--image-img{
        width: 90%;
    }

    .landing-page--image-shape{
        height: 28rem;
        margin: 6rem 0 0 8rem;
        width: 120%;
    }

    .centered-text{
        width: 50%;
    }

    .centered-text > *{
        text-align: center;       
    }

    .landing-page--carusel-buttons{
        flex-direction: row;
        gap:3rem;
        justify-content: center;
        border-top: none;
        border-bottom: 1px solid var(--grey);
        width: fit-content;
        margin: auto;
    }

    .landing-page--carusel-btn{
        border-bottom:none;
    }

    .landing-page--carusel-btn p{
        margin: 1rem 2rem;
    }

    .landing-page--carusel-btn p:hover{
        color: var(--red);
    }

    .selected-btn{
        width: 100%;
    }
    
    .landing-page--selected-feature{
        flex-direction: row;
    }

    .landing-page--feature-desc{
        width: 75%;
        margin: 2rem
    }

    .landing-page--feature-desc .landing-page--buttons{
        display: block;
    }

    .landing-page--cards{
        flex-direction: row;
    }

    .landing-page--card:nth-child(2){
        margin-top: 2rem;
    }

    .landing-page--card:nth-child(3){
        margin-top: 4rem;
    }

    .landing-page--faq-container{
        width: 50%;
    }

    .landing-page--faq-btn:hover p{
        color: var(--red);
    }

    .landing-page--footer-cta{
        width: 40%;
        margin: auto;
    }
      
    .landing-page--footer-subscribe{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .landing-page--footer-subscribe button{
        width: 30%;
        padding: 1rem;
    }

    .landing-page--footer-menu{
        flex-direction: row;
    }

    .landing-page--footer-input{
        width: 100%;
    }

    .landing-page--footer-social{
        width: 100%;
        justify-content: end;
    }
}