* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: auto;
}

.landing-page--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-page--container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.landing-page--desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page--desc-image {
    width: 100%;
    position: relative;
    padding-right: 5rem;
}

.landing-page--desc-img {
    border: 1rem solid #232323;
    border-radius: 2rem;
    width: 90%;
    position: absolute;
}

.landing-page--desc-shape {
    background-color: #4f64d9;
    width: 100%;
    height: 18rem;
    border-radius: 70% 0 0 50%;
    margin: 6rem 0 0 5rem;
}

.landing-page--desc-text {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.landing-page--desc-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    color: #232323;
}

.landing-page--desc-paragraf {
    text-align: center;
}

.landing-page--desc-buttons {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.landing-page--desc-btn {
    padding: 1rem;
    color: white;
    font-weight: 400;
    background-color: #4f64d9;
    border-radius: 1rem;
    border: 0;
    box-shadow: 3px 8px 10px #23232323;
}

.btn-secondary {
    color: #232323;
    background-color: #e8eaf6;
}