$primary-color: #4f64d9;
$secondary-color: #242946;
$black: #232323;
$grey: #23232323;
$white: #fff;
$red: #ff2e2e;
$background-color: #e8eaf6;

$p-font-size: 1.3rem;
$title-font-size: 2.3rem;
$big-title-font-size: 3rem;
$p-font-weight: 400;
